<strong><%= Comment.model_name.human %></strong><br>

<% if commentable.comments.present? %>
  <% commentable.comments.each do |comment| %>
      <% if comment.user.avatar.attached? %>
        <%= image_tag comment.user.avatar.variant(resize_to_fill: [30, 30])%>
      <% end %>
      <% user_name = comment.user.name == '' ?  comment.user.email : comment.user.name %>
      <%= link_to user_name, comment.user %>:
      <%= comment.text %>
      <%= l comment.created_at, format: :short %><hr>
  <% end %>
<% else %>
  <p><%= t('views.common.no_comment') %></p><hr>
<% end %>

<%= form_with model: [commentable, Comment.new] do |form| %>
  <%= form.text_area :text, required: true %><br>
  <%= form.submit value: t('views.common.comment') %>
<% end %>
