<p id="notice"><%= notice %></p>

<h1><%= Report.model_name.human %></h1>

<table>
  <thead>
    <tr>
      <th><%= User.model_name.human %></th>
      <th><%= Report.human_attribute_name(:title) %></th>
      <th><%= t('views.common.created_at') %></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <% user_name = report.user.name == '' ?  report.user.email : report.user.name %>
        <td><%= link_to user_name, user_path(report.user) %></td>
        <td><%= link_to report.title, report %></td>
        <td><%= report.created_at.strftime('%m月%d日 %H:%M')  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @reports %>

<br>

<%= link_to t('views.common.new'), new_report_path %>
