<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <p class="navbar-text pull-right">
      <% if user_signed_in? %>
        <%= t('logged') %> <strong><%= current_user.username %></strong>
        <%= link_to t('links.edit_profile'), edit_user_registration_path, class: 'navbar-link' %> |
        <%= link_to t('links.logout'), destroy_user_session_path, method: :delete, class: 'navbar-link'  %> |
        <%= link_to t('links.users'), '/users', class: 'navbar-link'  %> |
        <%= link_to t('links.books'), '/books', class: 'navbar-link'  %>
      <% else %>
        <%= link_to t('devise.registrations.new.sign_up'), new_user_registration_path, class: 'navbar-link'  %> |
        <%= link_to t('devise.sessions.new.sign_in'), new_session_path(resource_name), class: 'navbar-link'  %>
      <% end %>
    </p>

    <%= yield %>
  </body>
</html>
